.quiz_start_wrapper{
  display: flex;
  justify-content: center;
}
.title-1 {
  font-size: x-large;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid lightsteelblue;
  width: fit-content;
  margin: auto;
}
