.quiz_wrapper {
  margin-left: 5%;
}
.sentence > p {
  font-family: "JetBrains Mono", "M PLUS 1 Code";
  font-size: larger;
}
.answer_wrapper {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  height: 60px;
  align-items: center;
  flex-wrap: wrap;
}
.answer:focus {
  outline: none;
}
.answer_button:focus {
  outline: none;
}
.answer_button {
  height: fit-content;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  background-color: lightblue;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid rgba(112, 128, 128, 0.4);
}
.answer_button:hover {
  opacity: 1;
}
.answer_button:active {
  -webkit-transform: translate(0.4px);
  -moz-transform: translate(0.4px);
  transform: translate(0.4px);
  border-bottom: none;
}
.answer {
  height: 40px;
  width: 50%;
  line-height: 35px;
  font-size: 35px;
  font-family: "Jetbrains Mono", "M PLUS 1 Code";
}
.next_wrapper {
  display: flex;
  justify-content: center;
}
.next {
  display: inline-block;
  font-size: x-large;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid lightsteelblue;
  width: fit-content;
  margin-top: 20px;
  margin: 20px auto 0 auto;
  height: auto;
}
.hide {
  display: none;
}
